html{min-width: 300px; min-height:300px}


body {  
     background: url("/Images/living-room-compressor.jpg") no-repeat center scroll;
     background-size: cover;  
     min-height:100%;
     margin: 30px 0px 10px 0px !important;
}

h1 {
    text-shadow: -1.5px 1.1px 0.75px rgba(0,0,0,0.5); /* For transparent shadow use rgba(0,0,0,0.1-0.3) */
    font-weight: 600 !important;
    color: darkolivegreen !important;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin: 10px 5px;
}

p#mainText {
    text-shadow: -0.75px 0.6px 0.25px rgba(0,0,0,0.5);
    font-weight: 400 !important;
    font-size: 26px;
    color: darkolivegreen !important;
    text-align: center;
}

div#middleDiv {
    color:white;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 22px 10px 22px;
    text-shadow: -0.8px 0.55px 0.25px rgba(0,0,0,0.3);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    box-shadow: 0px 0px 35px 6px rgba(0,0,0,0.45);
    background-color: #93a79c;
    opacity: 0.94;
    max-width:750px;
    min-width: 575px;
    position:center !important;
}

.DropDownList { 
    cursor: pointer;
    color: white !important;
    background-color: gray !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.TextBox { 
    cursor: text; 
    color: white !important;
    background-color: gray !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    opacity: 1 !important;
}

.DropDownList:hover, .TextBox:hover {
    background-color: darkslategray !important;
}

.DropDownList:focus, .TextBox:focus {
    background-color: darkslategray !important;
}

::-webkit-input-placeholder { color: ghostwhite !important;}
::-moz-placeholder {color: ghostwhite !important; }
:-ms-input-placeholder { /* IE 10+ */ color: ghostwhite !important;}


span { 
    float:left;
}

.RfValidator, .RangeValidator{ 
    font-size: 12px;
    opacity: 1 !important;
    color: #F26D21 !important;
    background-color: #093145;
    padding: 5px 12px;
    border-radius: 5px;
    margin: 2px 0px 2px 20px;
    
}

div.buttonDisplayRentDiv {
    text-align: center; 
}

.ButtonDisplayRent { /*p303, 342-3,349*/
    color: white !important;
    font-weight: 700 !important;
    background-color: darkslategray !important;
    opacity: 1 !important;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.9);
}

.ButtonDisplayRent:hover{
    cursor: pointer !important;
    color: #eaf625 !important;
    background-color: #0C374D !important;
    transition: 0.01s;
} 

div.displayRentLabelDiv {
    text-align: center; 
}

.DisplayRentLabel {
    display: block; /*Label is not a block element by default but button is & so it centres!! */
    border: 0.5px solid skyblue !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #FFFFFF;
    background-color: gray;
    margin-bottom: 20px;
    padding: 6px 8px;
    text-align: center;
    font-size: 18px;
}

footer { 
    font-size: 12px;
    font-weight: 400;
    color: darkgreen;
    text-align: center;
}